.Card{
    cursor:pointer;
}
.Image{
    position:relative;
    height:20rem;
    width:14.5rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border:1px solid thistle;
    box-shadow:0 0 0.3rem white;
    /* transition:0.7s; */
}

.Image:hover{
    background-size: 105%;
    box-shadow:0 0 0.6rem rgb(78, 0, 151);
    border:1px solid black;
    transition:1s;
}

.Image:before{
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    /* transform: translateY(90%); */
    background-color: rgba(0,0,0,0);
    color:white;
    padding:1rem 0;
    content: attr(data-title);
    transition:0.5s 0.1s;
    font-size:1.5em;
    text-align: center;
    opacity: 0;
}

.Image:hover:before{
    /* transform:translateY(0); */
    padding-top:calc(50% + 1rem);
    background-color:rgba(0,0,0,0.6);
    transition:0.5s;
    opacity: 0.75;
}

.Image:after{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    color:red;
    padding:8px;
    content:attr(data-text);
    transition:0.5s;
    padding-top:2em;
    margin-top:8px;
    /* transform:translateY(100%); */
    opacity:1;
  }


@media(min-width:600px){
    .Image{
        box-shadow:0 0 0.6rem white;
    }
}
