.Input{
    /* margin:0 auto; */
    width: 100%;
    /* padding:10px; */
    box-sizing: border-box;
}

.InputElement{
    outline:none;
    border: 1px solid #ccc;
    background-color: white;
    font:inherit;
    padding: 6px 10px;
    display:block;
    width:100%;
    box-sizing: border-box;
}

.Invalid {
    border: 2px solid red;
    color:tomato;
    background-color: rgb(48, 29, 27);
}

@media(min-width:768px){
    .Input{
        width:60%;
        margin: 0 auto;
    }
}